@charset "utf-8"; /*文字コード指定*/

/* ----- css reset(各ブラウザで指定されているスタイルを初期化)と全体設定 ----- */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, img {
	margin: 0; /*ボックス外側の余白(値1つは上下左右をまとめて指定)*/
	padding: 0; /*ボックス内側の余白(値1つは上下左右をまとめて指定)*/
	border: 0; /*境界線指定*/
}

body {
	background-color: #ffffff; /*背景色設定*/
	line-height: 2;	/*行の高さ指定(数値のみの場合はfont-sizeの倍数)*/
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro"; /*フォントの種類指定(左から優先順位)*/
	font-size: 100%; /* フォントサイズ指定(%はブラウザに設定した標準文字サイズ(通常16px)に対する値)*/
	color: #000000; /*文字色指定*/
}

a { /*リンクの文字設定(マウスをのせる前)*/
	color: #0000FF; /*文字色指定*/
	text-decoration: none; /*テキストの装飾指定(下線、上線など)(noneはなし)*/
}

a:hover { /*リンクの文字設定(マウスをのせた時)*/
	text-decoration: underline; /*テキストの装飾指定(下線、上線など)(underlineは下線を引く)*/
}

.color1 {
	color: #990000; /*文字色指定*/
}

/* ----- ヘッダー(ページの一番上の部分) ----- */

#header {
	background-color: #e7e7eb; /*背景色設定*/
	position: fixed; /*ボックスの配置方法(fixedは固定)*/
	height: 110px; /*領域の高さ指定*/
	width: 100%; /*幅指定(100%は画面横幅いっぱいに表示)*/
	color: #000000; /*文字色指定*/
}

#header h1 {
	font-size: 2em; /*フォントサイズ指定(emはフォントの高さを１とした相対指定)*/
	font-weight: normal; /*フォントの太さ指定(normalは標準)*/
}
@media screen and (max-width: 640px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	#header h1 {
	font-size: 1em; /*フォントサイズ指定(emはフォントの高さを１とした相対指定)*/
	font-weight: normal; /*フォントの太さ指定(normalは標準)*/
 	}
}

#logo {
	text-align: center; /*行の水平方向の揃え方(centerは中央揃え)*/
	margin-top: 10px; /*ボックス外側上の余白*/
}

/* ----- ナビゲーションメニュー(ヘッダー内のメインメニュー) ----- */
nav{
 display: flex;
 position: relative;
 background: #e7e7eb;
  
}
#menu{
	width: 100%;
	background-color: transparent;
	margin-top:0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
#menu ul{
 height: 50px;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-end;
 align-items: center;
 list-style: none; /*リストマーカーの種類指定(noneはなし)*/
 display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
#menu ul li a{
 padding: 0 1em;
 border-bottom: none;
 font-weight:bold;
 color:#333;
 text-decoration:none;
}
  
#menu ul li a:hover
{
  color:orange;
  background-color:transparent;
}

#Toggle{
 display: none;
}

@media screen and (max-width: 640px) {
	/* 480px以下に適用されるCSS（スマホ用） */

	/*ナビゲーション部分*/
	#menu ul li a {
	display:block;
	  font-weight:bold;
	padding: 2em;
	border-bottom: 1px dotted #CCC;
	  color:#333;
	  text-decoration:none;
	}
	#menu ul li a:hover
	{background-color:rgba(0,0,0,0.5);
	color:orange;}

	#menu{
	  text-align:center;
	  background-color:rgba(255,255,255,0.5);
	  transition: .5s ease;/*滑らかに表示*/
	  -webkit-transform: translateX(-105%);
	  transform: translateX(-105%);/*左に隠しておく*/
	}
	/*OPEN時の動き*/
	#menu.open {
	 -webkit-transform: translateX(0%);
	 transform: translateX(0%);/*中身を表示（右へスライド）*/

	}

	/*トグルボタンのスタイルを指定*/
	.Toggle {
	    display: block;
	    position: fixed;    /* bodyに対しての絶対位置指定 */
	    width: 42px;
	    height: 42px;
	    cursor: pointer;
	    z-index: 3;
	  right:15px;
	}
	 
	.Toggle span {
	    display: block;
	    position: absolute;
	    width: 50px;
	    border-bottom: solid 4px #333;
	    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
	    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
	    transition: .35s ease-in-out;			/*変化の速度を指定*/
	 
	}
	 
	.Toggle span:nth-child(1) {
	    top:5px;
	}
	 
	.Toggle span:nth-child(2) {
	    top: 18px;
	}
	 
	.Toggle span:nth-child(3) {
	    top: 32px;
	}
	 


	.Toggle.active span:nth-child(1) {
	    top: 18px;
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	 
	/* 2番目と3番目のspanを45度に */
	.Toggle.active span:nth-child(2),
	.Toggle.active span:nth-child(3) {
	    top: 18px;
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
}

/* ----- レイアウト ----- */

#container { /*container(入れ物、容器)の中に各要素(ボックス)を配置*/
	width: 800px; /*幅指定*/
	margin: 0 auto; /*ボックス外側の余白(値2つは左から上下,左右の値(左右autoで中央配置))*/
}

@media screen and (max-width: 640px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	#container { /*container(入れ物、容器)の中に各要素(ボックス)を配置*/
	width: 90%; /*幅指定*/
	margin: 0 auto; /*ボックス外側の余白(値2つは左から上下,左右の値(左右autoで中央配置))*/
	}
}

#home {
	padding-top: 120px; /*ボックス内側上の余白*/
	padding-bottom: 100px;
	text-align:center

}

#category1 {
	padding-top: 120px; /*ボックス内側上の余白*/
	padding-bottom: 100px;

}

#category2 {
	padding-top: 120px; /*ボックス内側上の余白*/
	padding-bottom: 100px;
}

#category3 {
	padding-top: 120px; /*ボックス内側上の余白*/
	padding-bottom: 100px;
}

/* ----- フッター(ページの一番下の部分) ----- */

#footer {
	background-color: #e7e7eb; /*背景色設定*/
	position: fixed; /*ボックスの配置方法(fixedは固定)*/
	bottom: 0; /*下からの距離*/
	height: 40px; /*領域の高さ指定*/
	width: 100%; /*幅指定(100%は画面横幅いっぱいに表示)*/
}

#footer p {
	margin-top: 10px; /*ボックス外側上の余白*/
	text-align: center; /*行の水平方向の揃え方(centerは中央揃え)*/
	font-size: 0.75em; /*フォントサイズ指定(emはフォントの高さを１とした相対指定)*/
	color: #000000; /*文字色指定*/
}

/* ----- コンテンツ ----- */

#container h2 {
	font-size: 1em; /*フォントサイズ指定(emはフォントの高さを１とした相対指定)*/
	line-height: 30px; /*行の高さ指定*/
	margin: 10px 5px; /*ボックス外側の余白(値2つは左から上下,左右の値)*/
}

#container ul {
	margin-bottom: 15px; /*ボックス外側下の余白*/
}

#container ul li {
	padding-left: 15px; /*ボックス内側左の余白*/
}

#container a:hover img {
	border: solid 1px #c9171e; /*境界線の一括指定(solidは1本線,線の太さ,線の色)*/
}

/* ---- 自作テーブルの設定 ----- */


p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto 40px;
}
table {
  width: 600px; /*幅指定*/
  margin: 0 auto;
}
.tbl-r02 {/* .tbl-r02 全体設定 */
	table-layout: fixed;
	border-collapse: collapse; /*境界線の表示指定(collapseは重ねて表示)*/
	margin: 0 auto; /*ボックス外側の余白(値2つは左から上下,左右の値(左右autoで中央配置))*/
}

.tbl-r02 th {/* 見出しth*/
  background: #2A83C1;/*-- テーブル背景カラーブル2A83C1ー--*/
  border: solid 0.8px #ccc;/*境界線の一括指定(solidは1本線,線の太さ,線の色)*/
  color: #fff; /*-- テーブルFontカラーWhite--*/
  padding: 10px;
  text-align: center; /*行の水平方向の揃え方(leftは左寄せ)*/

}
.tbl-r02 td {/* 内容td */
  border: solid 1px #888084; /*境界線の一括指定(solidは1本線,線の太さ,線の色) */
  padding: 10px;
  text-align: left; /*行の水平方向の揃え方(leftは左寄せ)*/
}


@media screen and (max-width: 640px) {
	/* スマホ */
  .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .tbl-r02 {
    width: 95%;
  }
  .tbl-r02 th,
  .tbl-r02 td {
　　border-bottom: none;
    display: block;
    width: 100%;
  }
}

/* ---- 写真テーブル ---- */
.tbl-picture{
	width: 100%;

}

/* ---- img レイアウト ---- */
.ThumbnailImage img { width: 80%; }

@media screen and (max-width: 640px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	.ThumbnailImage img { width: 95%; }
}


/* ---- ステッチ風ボックス  ----*/
.stitch {
   color: #fff;
   padding: 20px;
   font-size: 0.9em;
   width: 93%;
   /* #FEA993 Pink  #B4C198*/
   background: #2A83C1;
   border: 2px dashed #F7F9CC;
   border-radius: 10px;
   box-shadow: 0 0 0 7px #2A83C1;
   font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
}
